.main-content {

  padding-top: 70px;

  .content {
    background-color: white;
    margin: 15px 15px 15px 215px;
  
    h3 {
      display: grid;
    }   
  }

  .disable {
    display: none;
  }

  .title-section {
    border-bottom: thin solid $color-grey-light;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .section-column {
    @include section;
    flex-direction: column;
  }

  .section-row {
    @include section;
    flex-direction: row;  
  }

  .callendar {
    margin: 20px;
    width: 300px;
    height: 40px;
    display: flex;
    border: thin solid $color-grey-light;
    border-radius: 4px;
    color: $color-dark;

    p {
      margin-left: 15px;
      font-size: 16px;
      align-items: center;
      display: flex;
    }

    .right-border {
      border-right: thin solid $color-grey-light;
    }
  }

  .date {
    display: flex;
    align-items: center;
    width: 150px;
  }

  .date-callendar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50px;

    i {
      color: $color-dark-light;
    }
  }

  .statistic-data {
    display: flex;
    flex-direction: column;
    width: 800px;
  }

  .cell-left {
    @include statistic-cell;
    margin: 5px 20px 5px 0;   
  }

  .cell-right {
    @include statistic-cell;
    margin: 5px 0 5px 20px;   
  }

  .sub-cell {
    height: 20px;
    margin: 10px 0 10px 15px;
  }

  .legend {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .signups {
    @include legend-item;
    background-color: $color-semiwhite;
 
    p::before {
      background-color: $color-blue;
    }
  }

  .ftd {
    @include legend-item;
    background-color: $color-semiwhite;
 
    p::before {
      background-color: $color-orange;
    }
  }

  .earned {
    @include legend-item;
    color: $color-blue;
     
    p::before {
      background-color: $color-green;
    }
  }

  .chart {
    h4 {
      padding-left: 20px;
    }

    img {
      width: 800px;
      padding: 0;
    }
  }

  .p-text {
    font-size: 17px;
    font-weight: $font-bold;
    color: $color-grey;
    margin: 10px 0;
  }
  
  
}


@media (max-width: 767px) {
  .main-content {
    width: 100%;

    .content {
      margin: 0;
      height: 100%;
    }

    .section-row {
      min-width: 300px;
    }

    .active {
      padding: 70px 0;
    }
    
    .top {
      margin-top: 70px;
    }

    .bottom {
      padding-bottom: 70px;
    }

    .date {
      width: auto;
    }

    .callendar {
      width: auto;
      margin: 20px 10px;
    }

    .signups, .ftd, .earned {
      margin: 10px 10px;
    }

    .signups p, .ftd p, .earned p {
      margin-left: 25px;
    }

    .cell-left{
      margin: 5px 5px 5px 0;
    }
    
    .cell-right {
      margin: 5px 0 5px 5px;
    }

    .statistic-data {
      width: 100%;
    }

    .table-3-cells {
      width: auto;

      a {
        margin: 0 5px;
      }

      i {
        opacity: 1;
      }

      .hide {
        display: none;
      }
    }

    .table-2-cells {
      width: auto;
    }

    .chart {
      
      width: auto;

      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1020px) {
  .main-content {
    .statistic-data{
      width: 500px;

      img {
        width: 500px;
      }
    }

    .table-2-cells {
      width: 500px;
    }

    .table-3-cells{
      width: 500px;

      .hide {
        margin-left: 50px;
      }

      i {
        opacity: 1;
      }
    }
  }
}
