.sidebar {
  position: fixed;
  height: 100%;
  max-width: 200px;
  background-color: $color-dark;
  display: flex;
  flex-direction: column;
  top: 0;
  color: $color-semiwhite;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: max-content;
  z-index: 1;
}

.container-side {
  margin: 10px;
  padding: 5px;
}

.side-header {
  display: flex;
  margin: 11px 0 11px 0;
  color: $color-semiwhite;
  width: 200px;
 
  a {
    color: $color-semiwhite;
  }
}

.logo {
  font-family: 'Just Another Hand', cursive;
  font-size: 42px;
  padding: 0 10px 0 20px;
  white-space: nowrap;
  position: relative;
}

.hamburger {
  font-size: 24px;
  padding: 0;
  flex-direction: column;
  position: fixed;
  top: 22px;
  left: 150px;
}

.main-menu {
  margin: 70px auto 0 auto;
  font-size: 20px;
  position: absolute;
}

.menu-item {
  margin: 5px 15px;
  white-space: nowrap;
        
  i {
    width: 14px;
    margin: 10px 20px 5px 0;
  }

  a {
    color: $color-grey;
    font-weight: $font-normal;
  }

  &:hover {
    margin: 5px 0;
    border-left: 4px solid $color-orange;
  
    a {
      color: $color-semiwhite;
    }
  
    i {
      margin-left: 11px;
    }
  }
}

.sidebar-manager {
  margin-top: 20px;
  width: 200px;
  border-top: thin groove $color-grey-light;
  flex-direction: column;
  justify-content: center;

  h3 {
    margin-left: 15px;
    margin-bottom: 20px;
  }
}

.manager-list {
  display: flex;
  margin-left: 15px;
  font-size: 18px;
  align-items: center;

  img {
    margin: 15px 15px 15px 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 0;
  }

  .dot::after {
    content: "";
    position: relative;
    display: block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: $color-green;
    bottom: 16px;
    right: 28px;
  }
}

ul {
  position: relative;
}

@media (max-width: 767px) {
  .sidebar {
    position: fixed;
    height: auto;
    max-width: 100%;
    width: 100%;
    display: block;

    .show {
      display: none;
    }

    ul {
      background-color: $color-dark;
      width: 100%;
      margin-top: 50px;

      li {
        display: block;
      }

      .menu-item i {
        margin-left: 25px;
      }
    }
  }
}