.top-bar {
  background-color: white;
  color: $color-grey;
  width: 100%;
  position: fixed;
  z-index: 1;
}


.bar-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 70px;
  border-right: thin solid $color-grey-light;
  border-bottom: thin solid $color-grey-light;
}

.mobile {
  display: none;
}

.small-size {
  @include topbar-box;
  min-width: 70px;
  cursor: pointer;
}

.medium-size {
  @include topbar-box;
  min-width: 210px;
  cursor: pointer;
  
}

.budget li {
  font-size: 20px;
  font-weight: $font-bold;
}

.info i::after{
  content: "";
  position: relative;
  display: block;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background-color: $color-orange;
  left: 6px;
  bottom: 16px;
}

@media (max-width: 767px) {
  .pc {
    display: none;
  }

  .mobile {
    display: block;
    position: fixed;
    bottom: 0;
    border-top: thin solid $color-grey-light;
    border-bottom: none;
  }
  
  .main-content {
    padding-top: 0;
  }

  .bar-content {
    display: flex;
    justify-content: space-around;
  }

  .medium-size, .small-size {
    align-items: center;
    border: none;
    min-width: auto;
    white-space: normal;
  }

  .info {
    border-right: thin solid $color-grey-light;
    border-left: thin solid $color-grey-light;
  }

  .exit {
    border-left: thin solid $color-grey-light;
  }
}