/* Naked elements */
* {
  box-sizing: border-box;
}

h1 {
  font-size: 20px;
  font-weight: $font-bold;
  text-transform: uppercase;
  color: $color-grey;
}
  
h2 {
  font-size: 20px;
  font-weight: $font-semibold;
  color: $color-grey-light;
}
  
h3 {
  font-size: 17px;
  font-weight: $font-bold;
  text-transform: uppercase;
  color: $color-grey;
}

h4 {
  font-size: 17px;
  font-weight: $font-bold;
  color: $color-grey;
}

h5 {
  font-size: 14px;
  font-weight: $font-bold;
  text-transform: uppercase;
  color: $color-grey;
}

h6 {
  font-size: 14px;
  font-weight: $font-semibold;
  color: $color-grey;
}

p {
  font-size: 12px;
  font-weight: $font-normal;
}

a{
  text-decoration: none;
  color: $color-blue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
}

body {
  margin: 0;
  background: $color-grey-light;
  
}

button {
  padding: 0;
  border: none;
}

.icon {
  size: 14px;
  color: $color-grey;
  font-family: "Glyphter";
}

.p-text {
  font-size: 17px;
  font-weight: $font-bold;
  color: $color-grey;
  margin: 10px 0;
}

.scroll-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.bottom-border-line {
  border-bottom: thin solid $color-grey-light;
  width: 100%;
  margin: 0 15px;
}

