@mixin topbar-box {
  border-left: thin solid $color-grey-light;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  
  i {
    margin: 0 10px;
  }
}

@mixin statistic-cell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: thin solid $color-grey-light;
  height: 40px;

  p {
    font-size: 17px;
  }
}

@mixin legend-item {
  position: relative;
  margin: 10px 20px;
  
  p {
    font-size: 18px;
    margin: 7px 10px 7px 40px;
  } 

  p::before {
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    left: 5px;
    margin: 3px 0;
  }
}

@mixin section {
  border-bottom: thin solid $color-grey-light;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

@mixin bottom-border-line-full {
  border-bottom: thin solid $color-grey-light;
  width: 100%;
  margin: 0 -15px;
  height: 2px;
  position: absolute;
}