.table-2-cells {
  display: grid;
  grid-template-columns: auto auto;
  width: 800px;
  margin: 25px auto;
}

.table-3-cells {
  width: 800px;
  margin: 10px auto;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: thin solid $color-grey-light;

  tr {
    height: 30px;
    border-bottom: thin solid $color-grey-light;

    i {
      margin: 0 5px;
      color: $color-grey;
      font-size: 12px;
      opacity: 0;

      &:hover {
        color: $color-orange;
      }
    }

    .hide {
      margin-left: 100px;
    }

    &:hover {
      background-color: $color-grey-light;
  
      i {
        opacity: 1;
      }
    }
  }
}

.scroll-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
    max-width: 100%;
  }
}

.table-big {
  font-size: 14px;
  border-spacing: 0px;
  cursor: pointer;
  width: 50%;

  th, td {
    height: 60px;
    border-bottom: thin solid $color-grey-light;
  }

  td {
    text-align: center;
  }

  th {
    color: $color-grey;

    i {
      opacity: 0;
      color: $color-grey;
      margin-left: 5px;
    }

    &:hover {
      color: black;
  
      i {
        opacity: 1;
      }
    }
  }

  .nav-table {
    a {
      font-size: 16px;
      margin: 0 7px;
      color: $color-blue;
    }

    i {
      margin: 0 10px;
      color: $color-grey;
    }

    .current {
      color: $color-grey;
      font-weight: bold;
    }
  }
}

@media (max-width: 1020px) {
  .scroll-wrapper {
    width: 100%;
  }

  .table-big {
    border-spacing: 5px;
  }
}